<title>About Feelings</title>
<body bgcolor="black">
<font face="helvetica">
<font color="white">

Gaming Statement
<br><br>
This prototype of <i>Feelings, a Proustian Quest</i>i> built as part of my Ph.D. coursework in Literacy at Hofstra University, offers players the chance to invent responses to Proust's 19th C. <a href="http://www.vanityfair.com/magazine/archive/proust_questionnaire">parlour questionnaire</a> and to create poems inspired by those questions and their responses. 
<br><br>
Influenced by the collective work of <a href="http://www.gamesforchange.org/">Games for Change</a>,and <a href="http://janemcgonigal.com/my-book/">McGonigal (2013)</a> on the positive social impact of gaming, I devised a game that would invite players in the same classroom community to write and share their confessional poetry in a safe space. The goals of the game aside from some fun creative expression, is to empower students to go to the “dark cave where poems hide” <a href="http://www.guernicaeditions.com/title/9781550717471">Gillan (2013)</a> and explore evocative memories. Through my own experiences as a veteran educator, students need poetry not just as a means to learning voice in composition (although this is one profound take-away), but also as a way to connect with others. The true reward for this game for change is empathy and an enhanced sensitivity to other players. One of the possible outcomes is that under the guidance of a masterful teacher, players can move from virtual to positive physical interaction in the classroom enviornment. 
<br><br>
Sharing such personal and powerful expression is a challenge and a traditional Iowa Writer’s Workshop style can cripple a young poet. This game offers writers a private place to compose and the ability to connect with other writers who are sharing similar stories. In order to read a poem, you must first share a poem. 
<br><br>
The game was created in Ruby-on-Rails and through App Smashing with Padlet and Google Forms.  As a prototype, its usability is limited. Feel free to play and explore, but please cite me. <a href="http://about.me/ginasipley">Message me</a> on my site for more information. 
<br><br>
--Gina Sipley, 2014
<br><br>
<center>
<%= button_to "Choose Your Proustian Quest", pages_proust_path,  :class => "button", :method => :get  %>
</center>
<br><br>
Sources
<br><br>
Carter, G. (Ed.). (2011, July 7). The Proust Questionnaire. Retrieved December 15, 2014, from <a href="http://www.vanityfair.com/magazine/archive/proust_questionnaire">http://www.vanityfair.com/magazine/archive/proust_questionnaire</a>
<br><br>
Gillan, M. (2013). <a href="http://www.guernicaeditions.com/title/9781550717471">Writing poetry to save your life: How to find the courage to tell your stories.</a>Toronto: MiroLand.
<br><br>
McGonigal, J. (2011). <a href="http://janemcgonigal.com/my-book/">Reality is broken: Why games make us better and how they can change the world.</a> New York: Penguin Press.
<br><br>
<br><br>

<footer>
<a rel="license" href="http://creativecommons.org/licenses/by-nc-nd/4.0/"><img alt="Creative Commons License" style="border-width:0" src="https://i.creativecommons.org/l/by-nc-nd/4.0/88x31.png" /></a><br /><span xmlns:dct="http://purl.org/dc/terms/" property="dct:title">Feelings </span> by <span xmlns:cc="http://creativecommons.org/ns#" property="cc:attributionName">Gina Sipley</span> is licensed under a <a rel="license" href="http://creativecommons.org/licenses/by-nc-nd/4.0/">Creative Commons Attribution-NonCommercial-NoDerivatives 4.0 International License &copy; Sipley 2014, <a href="https://twitter.com/gsipley">@GSipley</a></a>
    <p></a></p>
</footer>
<!-- <h1>Pages#about</h1>
<p>Find me in app/views/pages/about.html.erb</p>
 -->