<font face="arial">
Click to add a post-it with how you feel; don't leave your name. Then <a href= "http://goo.gl/forms/JCxHbDvC8V">read some poems</a> this prompt inspired.
<br>
<iframe src='//padlet.com/embed/unilv7w3kea3' frameborder='0' width='100%' height='480px' style='padding:0;margin:0;border:none'></iframe><div style='border-top:2px solid #a7d23a;padding:8px;margin:0;font-size:12px;text-align:right'><a href='http://padlet.com' style='color:#41555f;text-decoration:none'>Created with Padlet<img valign='middle' style='margin:0 0 0 10px;padding:0;border:none;width:16px;height:16px' src='http://padlet.com/favicon.ico'></a></div>
<!-- <h1>Pages#misery</h1>
<p>Find me in app/views/pages/misery.html.erb</p> -->
