<title>Proustian Questions</title>
<body>
<body bgcolor="black">
<style>
p{
	margin-top:0; 
	margin-right:auto;
	margin-bottom:0;
	margin-left:auto; 
}
</style>

<p>
<a href="http://goo.gl/forms/3vBu57tfWC"><img src="https://pbs.twimg.com/media/B4jGZf7IgAAP2mn.jpg" style="left;width:200px"; /></a>
<img src="https://pbs.twimg.com/media/B4koHZbIgAAhd0G.png:large" style="right;width:200px" />
<img src="https://pbs.twimg.com/media/B4koDY6IIAAF7ZK.png:large" style="center;width:200px" />
<img src="https://pbs.twimg.com/media/B4koPTZIAAAWOBC.png:large" style="center;width:200px" />
<img src="https://pbs.twimg.com/media/B4koMKPIQAAYURj.png:large" style="right;width:200px" />
<img src="https://pbs.twimg.com/media/B4koSqJIEAAKov1.png:large" style="center;width:200px" />
</p>

</style>
</body>

<!-- <h1>Pages#proust</h1> -->
<!-- <p>Find me in app/views/pages/proust.html.erb</p> -->


