<title>Delectable Taste</title>
<body bgcolor="black">
<font face="helvetica">
<font color="white">
Click to add a post-it with how you feel; don't leave your name. Then <a href= "http://goo.gl/forms/SSDwjvDJ8U">read some poems</a> this prompt inspired.
<iframe src='//padlet.com/embed/ejoeaxvhvcf5' frameborder='0' width='100%' height='480px' style='padding:0;margin:0;border:none'></iframe><div style='border-top:2px solid #a7d23a;padding:8px;margin:0;font-size:12px;text-align:right'><a href='http://padlet.com' style='color:#41555f;text-decoration:none'>Created with Padlet<img valign='middle' style='margin:0 0 0 10px;padding:0;border:none;width:16px;height:16px' src='http://padlet.com/favicon.ico'></a></div>
<iframe src='//padlet.com/embed/vb3q9ajejua1' frameborder='0' width='100%' height='480px' style='padding:0;margin:0;border:none'></iframe><div style='border-top:2px solid #a7d23a;padding:8px;margin:0;font-size:12px;text-align:right'><a href='http://padlet.com' style='color:#41555f;text-decoration:none'>Created with Padlet<img valign='middle' style='margin:0 0 0 10px;padding:0;border:none;width:16px;height:16px' src='http://padlet.com/favicon.ico'></a></div>
<br>
<footer>
<%= button_to "Home", pages_about_path,  :class => "button", :method => :get  %><br>
<a rel="license" href="http://creativecommons.org/licenses/by-nc-nd/4.0/"><img alt="Creative Commons License" style="border-width:0" src="https://i.creativecommons.org/l/by-nc-nd/4.0/88x31.png" /></a><br /><span xmlns:dct="http://purl.org/dc/terms/" property="dct:title">Feelings </span> by <span xmlns:cc="http://creativecommons.org/ns#" property="cc:attributionName">Gina Sipley</span> is licensed under a <a rel="license" href="http://creativecommons.org/licenses/by-nc-nd/4.0/">Creative Commons Attribution-NonCommercial-NoDerivatives 4.0 International License &copy; Sipley 2014, <a href="https://twitter.com/gsipley">@GSipley</a></a>
    <p></a></p>
</footer>
<!-- <h1>Pages#taste</h1>
<p>Find me in app/views/pages/taste.html.erb</p>
 -->