<h1>How Are You Feeling Today?</h1>

<body>
<img src="http://www.designboom.com/weblog/images/images_2/bora/agp_howdoyoufeel/feel01.jpg"style="width:500px;height:400px">

<p>David Shrigley's Design for The HighLine</p>
</body> 

<!-- <h1>Pages#welcome</h1>
<p>Find me in app/views/pages/welcome.html.erb</p> -->
