<!-- <h1>How Are You Feeling Today?</h1> -->
<style>
p{
	font-size: 6px;
	text-align: right;
}

</style>
<body>
<img src="http://www.designboom.com/weblog/images/images_2/bora/agp_howdoyoufeel/feel01.jpg"style="width:700px;height:400px"> 


<p><a href="http://art.thehighline.org/project/davidshrigley/"><i>How Are You Feeling Today?
</i></a>David Shrigley, 2013</p>


<%= button_to "Choose Your Proustian Path Wisely", pages_proust_path,  :class => "button", :method => :get  %>
</body> 
<footer>
    <p>&copy; Sipley 2014</p>
</footer>

<!-- <h1>Pages#welcome</h1>
<p>Find me in app/views/pages/welcome.html.erb</p> -->
